<div class="recurring-bils-container">
  <div class="bg-box">
    <img src="{{ billsUrl }}" alt="bills" />
    <div>
      <h3>Total Bills</h3>
      <h1 class="bills-sum">${{ totalBills }}</h1>
    </div>
  </div>
  <div class="summary-box">
    <p>Summary</p>
    <div class="inner-box">
      <span>Paid Bills</span>
      <span>4($190.00)</span>
    </div>
    <div class="inner-box">
      <span>Total Upcoming</span>
      <span>4($194.98)</span>
    </div>
    <div class="inner-box">
      <span>Due Soon</span>
      <span>2($59.98)</span>
    </div>
  </div>
</div>
