.bg-box {
  width: 337px;
  height: 204px;
  background: #201f24;
  color: #fff;
  border-radius: 10px;
  display: grid;
  align-items: center;
  padding-left: 30px;

  @media screen and (max-width: 1360px) {
    width: 332px;
    height: 204px;
  }
}

.bills-sum {
  font-size: 32px;
}

.summary-box {
  background-color: #fff;
  width: 337px;
  height: 204px;
  margin-left: 0px;
  border-radius: 10px;

  p {
    padding: 20px;
    font-weight: 600;
  }

  .inner-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #69686826;

    &:last-of-type {
      border-bottom: none;
    }
  }

  @media screen and (max-width: 1280px) {
    width: 332px;
    height: 204px;
  }
}

.input-container {
  background-color: #fff;
  width: -webkit-fill-available;
  height: auto;
  padding: 10px;
  border-radius: 10px;

  .inner-containers {
    @media screen and (max-width: 720px) {
      margin-top: 25px;
    }
  }

  svg {
    margin-left: -25px;
  }
}

.recurring-bills-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 50px;

  .recurring-bills-inner-container {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: 720px) {
      flex-direction: column !important;
    }
  }

  .input-container {
    width: 100%;
    margin-left: 25px;
    padding: 0 50px;

    @media screen and (max-width: 720px) {
      padding: 0 5px;
    }

    > div {
      display: flex;
      justify-content: space-between;
      width: -webkit-fill-available;
    }

    .first-inner-container,
    .second-inner-container {
      display: flex;
      align-items: center;
      margin-top: 25px;

      @media screen and (max-width: 1440px) {
        &.second-inner-container {
          flex-direction: row;
          align-items: center;

          @media screen and (max-width: 720px) {
            display: none;
          }
        }
      }
    }

    .first-inner-container {
      @media screen and (max-width: 720px) {
        margin-top: 0px;
      }
    }

    .img-container {
      display: none;

      @media screen and (max-width: 720px) {
        display: flex;
        align-items: center;
        margin-right: 25px;
      }
    }

    input {
      min-width: 320px;

      @media screen and (max-width: 720px) {
        min-width: 259px;
      }
    }
  }

  .recurring-bills-inner-container {
    margin-top: 0px;

    @media screen and (max-width: 720px) {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 1360px) {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-left: 0;

    .recurring-bills-inner-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      .summary-box {
        margin-top: 0px;
      }
    }

    .input-container {
      margin-left: 0;
    }
  }
}

.sort-table {
  &:hover {
    cursor: pointer;
  }
}

.select-option {
  width: 125px;
}

.mr-5 {
  @media screen and (max-width: 992px) {
    margin-right: 0;
  }
}

.table-head {
  @media screen and (max-width: 720px) {
    display: none;
  }
}

.bg-width {
  display: table;
  @media screen and (max-width: 720px) {
    display: none;
  }
}

.sm-width {
  display: none;
  @media screen and (max-width: 720px) {
    display: table;
  }
}
