.bg-box {
  width: 337px;
  height: 190px;
  background: #201f24;
  color: #fff;
  border-radius: 10px;
  display: grid;
  align-items: center;
  padding-left: 30px;
}

.bills-sum {
  font-size: 32px;
}

.summary-box {
  background-color: #fff;
  width: 337px;
  height: 204px;
  margin-top: 24px;
  border-radius: 10px;

  p {
    padding: 20px;
    font-weight: 600;
  }

  .inner-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #69686826;

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.input-container {
  background-color: #fff;
  width: -webkit-fill-available;
  height: auto;
  padding: 10px;
  border-radius: 10px;

  svg {
    margin-left: -25px;
  }
}

.recurring-bills-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 50px;

  .input-container {
    width: 100%;
    margin-left: 50px;
    padding: 0 50px;

    > div {
      display: flex;
      justify-content: space-between;
      width: -webkit-fill-available;
    }

    .first-inner-container,
    .second-inner-container {
      display: flex;
      align-items: center;
      margin-top: 25px;
    }

    input {
      min-width: 320px;
    }
  }
}
