.add-budget {
  padding: 14px;
  border-radius: 12px;
  color: #fff;
}
.status {
  width: 16px;
  display: block;
  height: 16px;
  border-radius: 50%;
}

.progress-bar-container {
  background: #f8f4f0;
  padding: 5px;
  border-radius: 10px;
}

.wall {
  width: 5px;
  height: 45px;
  background: #f8f4f0;
  border-radius: 10px;
}

.prices {
  padding: 20px 0;
  display: flex;
  gap: calc(50% - 50px);
}

.budget-container {
  display: flex;
  gap: 10px;
}

.spending-users {
  padding-bottom: 30px;
}

.img-container {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}

.text-see-all {
  &:hover {
    cursor: pointer;
  }
}

.custom-progress-bar {
  width: 100%;
  position: relative;
}

.summary {
  display: flex;
  justify-content: space-between;
}

.dots-img {
  &:hover {
    cursor: pointer;
  }
}

.list-items-container-parent {
  position: relative;
  .list-items-container {
    width: fit-content;
    padding: 10px;
    background: #fff;
    border: 1px solid lightgrey;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: -20px;
    z-index: 1;
  }
}

::ng-deep .custom-progress-bar {
  .mdc-linear-progress__bar-inner {
    border-top-width: 24px !important;
  }

  &.entertainment .mdc-linear-progress__bar-inner {
    border-top: 24px solid #277c78 !important;
  }

  &.bills .mdc-linear-progress__bar-inner {
    border-top: 24px solid #82c9d7 !important;
  }

  &.groceries .mdc-linear-progress__bar-inner {
    border-top: 24px solid #426cd5 !important;
  }

  &.dining-out .mdc-linear-progress__bar-inner {
    border-top: 24px solid #f2cdac !important;
  }

  &.transportation .mdc-linear-progress__bar-inner {
    border-top: 24px solid #ffa500b3 !important;
  }

  &.personal-care .mdc-linear-progress__bar-inner {
    border-top: 24px solid #626070 !important;
  }

  &.education .mdc-linear-progress__bar-inner {
    border-top: 24px solid #ffb6c1cc !important;
  }
}

@media screen and (max-width: 1100px) {
  .budget-parent-container {
    display: block;
  }

  .parent-container,
  .budgets-container-parent {
    width: 100%;
  }
}
