<div class="header-black">
  <img src="assets/logoAuth.png" alt="Logo" class="img-logo" />
</div>
<div class="box-container">
  <div class="login-card-container">
    <img src="assets/finance-pic.png" alt="Styled Image" class="image-banner" />
    <img src="assets/message.png" alt="Message" class="img-msg" />
    <img src="assets/logoAuth.png" alt="Logo" class="img-logo" />
  </div>
  <div class="login-card-box">
    <div class="login-card">
      <div class="card-title">
        <h1>Login</h1>
        <form
          class="form-group form-container"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
        >
          <label for="email">Email</label>
          <input
            id="email"
            type="email"
            formControlName="email"
            placeholder="Email"
            autocomplete="email"
          />
          <div *ngIf="isLoggedIn && loginForm.get('email')?.invalid">
            <div
              *ngIf="loginForm.get('email')?.errors?.['required']"
              class="text-red-500"
            >
              Email is required!
            </div>
            <div
              *ngIf="loginForm.get('email')?.errors?.['email']"
              class="text-red-500"
            >
              Enter a valid email.
            </div>
          </div>

          <label for="password">Password</label>
          <div class="custom-input-container">
            <input
              id="password"
              matInput
              [type]="showPassword ? 'text' : 'password'"
              formControlName="password"
              placeholder="Password"
              autocomplete="current-password"
            />
            <mat-icon
              matSuffix
              class="eye-icon"
              (click)="togglePasswordVisibility()"
            >
              {{ showPassword ? "visibility_off" : "visibility" }}
            </mat-icon>
          </div>
          <div *ngIf="isLoggedIn && loginForm.get('password')?.invalid">
            <div
              *ngIf="loginForm.get('password')?.errors?.['required']"
              class="text-red-500"
            >
              Password is required!
            </div>
            <div
              *ngIf="loginForm.get('password')?.errors?.['minlength']"
              class="text-red-500"
            >
              Password must be at least 8 characters!
            </div>
          </div>

          <button class="form-btn" type="submit">Login</button>
        </form>
        <div class="txt-container">
          <span class="txt">Need to create an account? </span>
          <a routerLink="/signup">Sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>
