<div class="box-container">
  <div class="login-card-container">
    <img src="assets/finance-pic.png" alt="Styled Image" class="image-banner" />
    <img src="assets/message.png" alt="Message" class="img-msg" />
    <img src="assets/logoAuth.png" alt="Message" class="img-logo" />
  </div>
  <div class="login-card-box">
    <div class="login-card">
      <div class="card-title">
        <h1>Login</h1>
        <form
          class="form-group form-container"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
        >
          <label>Email</label>
          <input
            name="email"
            type="email"
            [(ngModel)]="email"
            formControlName="email"
            placeholder="Email"
          />
          @if (isLoggedIn && email.length === 0) {
          <div class="text-red-500">Email is required.</div>
          }
          <label>Password</label>
          <input
            type="password"
            formControlName="password"
            [(ngModel)]="password"
            placeholder="Password"
            autocomplete="current-password"
          />
          @if (isLoggedIn && password.length === 0) {
          <div class="text-red-500">Password is required.</div>
          }

          <!-- Submit Button -->
          <button class="form-btn" type="submit">Login</button>
        </form>
        <div class="txt-container">
          <span class="txt">Need to create an account? </span
          ><a routerLink="/signup">Sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>
