<div class="text-right mt-[-50px]">
  <button class="add-pots p-[14px] color-[#fff] bg-black hover:bg-gray-800">
    +Add New Pot
  </button>
</div>
<div class="pots-container">
  @for (pot of pots; track pot.id) {
  <div class="pot-box">
    <div class="theme-box">
      <div class="theme-content">
        <div class="theme" [style.background-color]="pot.theme"></div>
        <div class="name">{{ pot.name }}</div>
      </div>
      <div class="dot-img-container"><img src="assets/dots.svg" /></div>
    </div>
    <div class="total-saved">
      <span class="saved-txt">Total saved</span>
      <span class="saved-price">${{ pot.total.toFixed(2) }}</span>
    </div>
    <div
      class="progress-bar-wrapper"
      [ngStyle]="{ height: progressBarHeight, 'border-radius': '5px' }"
    >
      <div class="bg-custom-off-white"></div>
      <div
        class="progress-filled"
        [ngStyle]="{
          width: calculatePercentageWidth(pot),
          backgroundColor: pot.theme,
          'border-radius': '5px',
        }"
      ></div>
    </div>
    <div class="total-saved">
      <span class="saved-txt"
        >{{ ((pot.total / pot.target) * 100).toFixed(2) }}%</span
      >
      <span class="saved-txt">Target of ${{ pot.target.toFixed(2) }}</span>
    </div>
    <div class="flex justify-between total-saved">
      <button
        (click)="addMoney()"
        class="bg-custom-off-white text-black py-2.5 px-12 rounded-lg"
      >
        +Add Money
      </button>
      <button
        (click)="withDrawMoney()"
        class="bg-custom-off-white text-black py-2.5 px-12 rounded-lg"
      >
        Withdraw
      </button>
    </div>
  </div>
  }
</div>
