<div class="balance-info-container">
  <div
    [ngClass]="{
       'balance-info-prices': showFiller === 'closed',
      'balance-info-prices-sm': showFiller === 'open' && !isPortrait,
    }"
  >
    <div class="parent-container box">
      <h1 class="color-black">Current Balance</h1>
      <div class="current-value">
        {{ this.balance.current | currency : "USD" : "symbol" : "1.2-2" }}
      </div>
    </div>
    <div class="parent-container">
      <h1>Income</h1>
      <div class="current-value">
        {{ this.balance.income | currency : "USD" : "symbol" : "1.2-2" }}
      </div>
    </div>
    <div class="parent-container">
      <h1>Expenses</h1>
      <div class="current-value">
        {{ this.balance.expenses | currency : "USD" : "symbol" : "1.2-2" }}
      </div>
    </div>
  </div>
  <div class="pt-8">
    <app-pots [showAddButton]="false"></app-pots>
  </div>
</div>
