<div class="balance-info-container">
  <div class="balance-info-prices">
    <div class="parent-container">
      <h1>Current Balance</h1>
      <div class="current-value">
        {{ this.balance.current | currency : "USD" : "symbol" : "1.2-2" }}
      </div>
    </div>
    <div class="parent-container">
      <h1>Income</h1>
      <div class="current-value">
        {{ this.balance.income | currency : "USD" : "symbol" : "1.2-2" }}
      </div>
    </div>
    <div class="parent-container">
      <h1>Expenses</h1>
      <div class="current-value">
        {{ this.balance.expenses | currency : "USD" : "symbol" : "1.2-2" }}
      </div>
    </div>
  </div>
</div>
