<div class="balance-info-container">
  @for (balance of overview; track $index) {
  <div
    [ngClass]="{
      'balance-info-prices': showFiller === 'closed',
      'balance-info-prices-sm': showFiller === 'open' && !isPortrait
    }"
  >
    <div class="parent-container box">
      <h1 class="color-black">Current Balance</h1>
      <div class="current-value">
        {{ balance.current | currency : "USD" : "symbol" : "1.2-2" }}
      </div>
    </div>

    <div class="parent-container">
      <h1>Income</h1>
      <div class="current-value">
        {{ balance.income | currency : "USD" : "symbol" : "1.2-2" }}
      </div>
    </div>

    <div class="parent-container">
      <h1>Expenses</h1>
      <div class="current-value">
        {{ balance.expenses | currency : "USD" : "symbol" : "1.2-2" }}
      </div>
    </div>
  </div>
  }
</div>
<div class="flex flex-column gap-4">
  <div class="w-full gap-[20px]">
    <app-pots
      class="hidden"
      [showAddButton]="false"
      [showPotsBox]="false"
      [totalSaved]="totalSaved$ | async"
      [displayPots]="(totalPots$ | async) ?? []"
    ></app-pots>

    <div
      class="bg-[#fff] w-3/5 mt-5 p-5 pb-0 rounded-2xl custom-box-pots h-fit"
    >
      <div class="text-[#201F24] flex justify-between">
        <div class="text-[20px] font-bold">Pots</div>
        <a
          class="text-[#696868] flex items-center gap-[12px] cursor-pointer z-[1]"
          routerLink="/pots"
        >
          See Details<img
            src="assets/arrow-right.png"
            alt="Logo"
            class="img-logo"
          />
        </a>
      </div>
      <div class="flex gap-[25px] py-2.5 custom-inner">
        <div
          class="bg-[#F8F4F0] rounded-md h-[110px] w-[247px] flex items-center justify-start gap-[10px] pl-5 custom-width"
        >
          <div>
            <img src="{{ moneyBag }}" />
          </div>
          <div>
            <h4 class="text-[#696868]">Total Saved</h4>
            <div class="text-3xl font-bold">${{ totalSaved$ | async }}</div>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-[12px] custom-grid">
          @if (totalPots$ | async; as pots) { @for (pot of pots; track pot._id)
          {
          <div class="flex">
            <div
              class="h-[48px] w-[5px] rounded-2xl mr-[10px]"
              [style.background-color]="pot.theme"
            ></div>
            <div>
              <div class="text-[#696868] whitespace-nowrap">{{ pot.name }}</div>
              <div class="font-bold">${{ pot.total }}</div>
            </div>
          </div>
          } }
        </div>
      </div>
    </div>
  </div>
  <div class="bg-[#fff] w-2/5 mt-5 p-5 pb-0 rounded-2xl custom-box-pots">
    <div class="text-[#201F24] flex justify-between">
      <div class="text-[20px] font-bold zindex">Budgets</div>
      <a
        class="text-[#696868] flex items-center gap-[12px] cursor-pointer z-[1]"
        routerLink="/budgets"
      >
        See Details<img
          src="assets/arrow-right.png"
          alt="Logo"
          class="img-logo"
        />
      </a>
    </div>
    <div class="budgets-container-overview">
      <app-budgets
        class="budgets-cl"
        [showAddButton]="false"
        [showBudgetsList]="false"
      ></app-budgets>
    </div>
  </div>
</div>
<div class="flex flex-column gap-4">
  <div class="bg-[#fff] w-2/5 p-5 pb-0 rounded-2xl custom-box-pots">
    <div class="text-[#201F24] flex justify-between">
      <div class="text-[20px] font-bold zindex">Transactions</div>
      <a
        class="text-[#696868] flex items-center gap-[12px] cursor-pointer z-[1]"
        routerLink="/transactions"
      >
        See Details<img
          src="assets/arrow-right.png"
          alt="Logo"
          class="img-logo"
        />
      </a>
    </div>
    <div class="transactions-container-overview">
      <app-transactions [hideSearchAndFilter]="false"></app-transactions>
    </div>
  </div>
  <div class="bg-[#fff] p-5 pb-0 rounded-2xl custom-box-pots h-fit mt-[25px]">
    <div class="text-[#201F24] flex justify-between">
      <div class="text-[20px] font-bold zindex">Recurring Bills</div>
      <a
        class="text-[#696868] flex items-center gap-[12px] cursor-pointer z-[1]"
        routerLink="/recurring-bills"
      >
        See Details<img
          src="assets/arrow-right.png"
          alt="Logo"
          class="img-logo"
        />
      </a>
    </div>
    <div class="transactions-container-overview">
      <app-recurring-bills [hideButton]="false"></app-recurring-bills>
    </div>
  </div>
</div>
