.content-container.shifted {
  padding-left: 30px;
}

.balance-info-container {
  padding: 20px;
  border-radius: 8px;
}

.balance-info-container h1 {
  font-size: 1.5rem;
  color: #333;
}

.balance-info-container .balance-info-prices {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #555;
}

.balance-info-prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  width: 100%;

  .parent-container {
    width: 33.33%;

    h1 {
      font-size: 18px;
    }

    .current-value {
      font-size: 3rem;
      margin-bottom: 10px;
      color: #000;
      font-weight: 600;
    }
  }

  .box {
    background-color: #201f24;

    h1,
    .current-value {
      color: #fff;
    }
  }
}

.balance-info-prices-sm {
  display: none;
}

.zindex {
  z-index: 1;
}

.balance-info-container {
  app-donut-chart {
    overflow-x: visible !important;
  }
}

.custom-box-pots {
  width: 100%;
  height: fit-content;
}

::ng-deep .my-class {
  display: flex;

  @media screen and (max-width: 600px) {
    display: block;
  }
}

::ng-deep .custom-legend {
  @media screen and (max-width: 600px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-left: -10px;
  }
}

::ng-deep .summary {
  border: none;
}

@media screen and (max-width: 1420px) {
  .custom-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1330px) {
  .custom-flex {
    flex-direction: column;
  }
  .custom-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1225px) {
  .balance-info-prices-sm {
    display: flex;
    flex-direction: column;
    gap: 5;
  }

  .balance-info-prices {
    .current-value {
      font-size: 36px !important;
    }
  }
}

@media screen and (max-width: 992px) {
  .content-container .shifted {
    margin-left: auto !important;
  }

  .parent-container {
    margin-bottom: 0px;
  }

  .custom-box-pots {
    width: 100%;
    height: fit-content;
  }
}

@media (max-width: 900px) {
  .balance-info-container {
    padding: 15px;
    font-size: 1rem;
  }

  .balance-info-container h1 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 720px) {
  .balance-info-prices {
    flex-direction: column;
    gap: 10px;
    .parent-container {
      margin: 0;
      width: auto;
      text-align: center;
    }
  }

  .custom-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .custom-width {
    width: 100%;
  }
}
