<div *ngIf="isVisible" class="modal-overlay">
  <div class="modal-content">
    <div class="header">
      <h1 class="font-sans font-bold text-[38px]">
        Delete {{ selectedPotName }}
      </h1>
      <button
        (click)="close()"
        class="w-[30px] h-[30px] rounded-full border border-[#696868] mt-0"
      >
        X
      </button>
    </div>
    <p class="text-[#696868] mb-3">
      Are you sure you want to delete this pot? This action cannot be reversed,
      and all the data inside it will be removed forever.
    </p>
    <button
      class="mt-[5px] w-[100%] py-[14px] bg-[#C94736] text-white font-semibold rounded-lg"
      (click)="onDelete()"
    >
      Yes, Confirm Deletion
    </button>
    <button
      class="mt-[5px] w-[100%] py-[14px] bg-transparent text-[#696868] rounded-lg"
      (click)="close()"
    >
      No Go Back
    </button>
  </div>
</div>
