<div *ngIf="isVisible" class="modal-overlay">
  <div class="modal-content">
    <div class="header">
      <h1 class="font-sans font-bold text-[38px]">{{ title }}</h1>
      <button
        (click)="close()"
        class="w-[30px] h-[30px] rounded-full border border-[#696868] mt-0"
      >
        X
      </button>
    </div>
    <p class="text-[#696868] mb-3">{{ content }}</p>
    @if (title) {
    <button
      class="mt-[20px] w-[100%] py-[14px] bg-[#C94736] text-white rounded-lg"
      (click)="close()"
    >
      {{ deleteMsg }}
    </button>
    <button class="mt-[20px] text-[#696868] w-[100%]" (click)="close()">
      {{ cancel }}
    </button>
    } @else if (title === 'Add New Budget') {

    <span class="text-[#696868] mt-2">Budget Category</span>
    <div class="custom-dropdown-container mb-3">
      <div class="dropdown-selected" (click)="toggleDropdown('category')">
        <span>{{
          selectedCategory ? selectedCategory.category : "Select an option"
        }}</span>
        <i class="arrow" [class.open]="dropdownStates['category']">▼</i>
      </div>

      <div *ngIf="dropdownStates['category']" class="dropdown-list">
        <div
          *ngFor="let option of budgets"
          class="dropdown-item flex justify-between"
          (click)="selectOption('category', option)"
          [ngClass]="{
            'not-selectable': budgetColors[option.category]
          }"
        >
          <span>{{ option.category }}</span>
          @if ( budgetColors[option.category]) {
          <span>Already in use</span>
          }
        </div>
      </div>
    </div>

    <span class="text-[#696868] mt-2">Maximum Spend</span>
    <div>
      <input
        class="max-speed"
        type="number"
        [value]="selectedCategory ? selectedCategory.maximum : ''"
        (input)="formatNumber($event)"
      />
    </div>

    <span class="text-[#696868] mt-2">Theme</span>
    <div class="custom-dropdown-container mb-2">
      <div class="dropdown-selected" (click)="toggleDropdown('theme')">
        <span *ngIf="selectedTheme" class="theme-selection">
          <span
            class="circle"
            [ngStyle]="{ backgroundColor: selectedTheme }"
          ></span>
          {{ getColorName(selectedTheme) }}
        </span>
        <span *ngIf="!selectedTheme">Select an option</span>
        <i class="arrow" [class.open]="dropdownStates['theme']">▼</i>
      </div>

      <div *ngIf="dropdownStates['theme']" class="dropdown-list">
        <div
          *ngFor="let option of budgets"
          class="dropdown-item flex justify-between"
          (click)="selectOption('theme', option)"
          [ngClass]="{
            'not-selectable': budgetColors[option.category]
          }"
        >
          <div>
            <span
              class="circle"
              [ngStyle]="{ backgroundColor: option.theme }"
            ></span>
            <span>{{ option.color }}</span>
          </div>
          @if (budgetColors[option.category]) {
          <span>Already in use</span>
          }
        </div>
      </div>
    </div>
    <button
      class="mt-[20px] w-[100%] py-[14px] bg-[#201F24] text-white rounded-lg"
      (click)="close()"
    >
      Add Budget
    </button>
    } @else {
    <button
      class="mt-[20px] w-[100%] py-[14px] bg-[#201F24] text-white rounded-lg"
      (click)="close()"
    >
      Save Changes
    </button>
    }
  </div>
</div>
