.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 560px;

  .header {
    display: grid;
    grid-template-columns: 12fr 1fr;
    align-items: flex-start;
  }
}

.custom-dropdown-container {
  position: relative;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.dropdown-selected {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.max-speed {
  border: 1px solid #ccc;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
}

.arrow {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  z-index: 100;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.selected-category {
  color: red;
}

.not-selectable {
  pointer-events: none;
  color: #696868;
  opacity: 0.5;
}
