@use "../../variables.scss" as *;

.example-container {
  display: flex;
  height: 100vh;
}

.mat-drawer-container {
  position: relative;
}

.example-sidenav {
  width: 300px;
  background-color: #201f24;
  color: white;
  box-shadow: none;
  visibility: visible !important;
  transition: transform 0.5s ease-out;
  transform: translateX(0);
  display: block !important;
  border-top-right-radius: 30px 30px;
  border-bottom-right-radius: 30px 30px;

  &.minimized {
    transition: transform 0.5s ease-in;
    transform: translateX(-250px) !important;
    visibility: visible;
  }
}

.main-logo {
  display: block;
  margin: 20px;
}

.subtitle {
  color: $color-text;
  text-decoration: none;
}

.btn-logo {
  position: absolute;
  bottom: 20px;
  right: 0px;
  background-color: transparent;
  color: $color-text;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.5s ease, right 0.5s ease;

  &.left {
    right: 130px !important;
    transform: translateX(0px);
  }

  .reversed {
    transform: rotate(180deg);
  }

  &:hover {
    background-color: #e0e0e0;
    color: #201f24;
  }
}

.example-sidenav-content {
  padding: 20px 0;

  .navbar-items-container {
    margin-top: 70px;

    .menu-list-container {
      padding: 0;
    }
  }
}

.sm-screen {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  padding: 0 10px;
}

.bottom-box {
  background-color: #000;
  display: none;
}

button {
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.minimized {
  transform: translateX(-250px) !important;
}

.content-container.shifted {
  margin-left: 325px;
  margin-right: 0px;
}

.section-title {
  margin-left: 50px;
  color: #201f24;
  font-size: 38px;
  font-weight: bold;
  transition: margin-left 0.5s ease-out;

  &.shifted {
    margin-left: 350px;
  }
}

.navbar-items {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 20px;
  width: 99%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  &.active {
    background: #f8f4f0;

    .subtitle {
      color: #201f24;
    }
  }

  &:hover {
    cursor: pointer;
    background: #f8f4f0;
    .subtitle {
      color: #201f24;
    }
  }
}

@media screen and (max-width: 992px) {
  .example-sidenav {
    display: none !important;
  }

  .content-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 100px;

    &.shifted {
      margin-left: 0px;
    }
  }

  .section-title {
    margin-left: 25px;
  }

  .bottom-box {
    z-index: 1;
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .navbar-items {
    margin-top: 8px;
    height: 66px;
    align-items: center;
    padding: 0px;
    width: 99%;
    display: grid;
    justify-content: center;
    gap: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;

    &.active {
      background: #f8f4f0;

      .subtitle {
        color: #201f24;
      }
    }

    &:hover {
      cursor: pointer;
      background: #f8f4f0;
      .subtitle {
        color: #201f24;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .bottom-box {
    z-index: 1;
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .navbar-items {
    margin-top: 8px;
    height: 44px;
    align-items: center;
    padding: 0px;
    width: 99%;
    display: grid;
    justify-content: center;
    gap: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;

    .subtitle {
      display: none;
    }

    &.active {
      background: #f8f4f0;
    }

    &:hover {
      cursor: pointer;
      background: #f8f4f0;
    }
  }
}
